*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

/* nav style */
nav img{
  width: 4%;
  height:4%;
 
  

}
 .safari{
    margin-right: 100px;
}
nav{

    height: 100%;
    width: 85%;
    margin-left: 9%;
    padding-top: 2%;
}
label.logo{
    color: #131318;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;

}

label.logo span{
    color: #FF5400;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    margin: 0 5px;
    
}
nav ul li a{
    color: var(--Dark-02, #424247);
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 7px 13px;
border-radius: 4px;
}
a.active, a:hover{
    background-color: #ed560b;
    transition: 0.5s;
}
.checkbtn{
    font-size: 30px;
    color:#ed560b;
    float: right;
    margin-right: 5px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


/* baner-section */

.baner{
    width: 90%;
    height: 500px;
    margin-left: 5%;
margin-top: 3%;
}
.baner-container{
 height: 100%;
 width: 100%;
background-image:url("Images/Group\ 13\ \(1\)\ \(1\).png");
background-position: 100%;
background-size: cover;
border-radius: 16px;
background-color: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 100%, rgba(19, 19, 24, 0.00) 100%);
background-repeat: no-repeat;

}


.baner-des{
   
align-items: center;
    text-align: center;
}
.baner-des h1{
   padding-top: 10%;
    color: #FFF;
font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.baner-des p{
   color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

#findnow{
    width: 24px;
height: 24px;
padding-top: 7px;

}
.input-section{
   margin-top: 100px;
    display: flex;
    display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
bottom: 180px;

}
#Wherego{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
border: #FFF;


}
#notsame{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: #FFF;
      
}
.input-section ::placeholder{
    color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.input-section button{
    display: flex;
    width: 174px;
height: 52px;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: #FF5400;
border: #FF5400;
padding-top: 17px;
justify-content: center;
}

/* populer section style */

.populer-container{
    display: flex;
    margin-top: 3%;
    margin-left: 5%;
    gap: 140px;
    max-width: 90%;
}
.populer-des{
    max-width: 50%;
}
.populer-title{
    color: #131318;

font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.des{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 43px; /* 162.5% */
}
.read{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;color:
 #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
border-color: #FF5400;
margin-top: 20px;
}
.populer-photo{
    max-width: 100%;
}

/* destination style */

.destination-container{
    margin-top: 3%;
    margin-left: 5%;
    height: 100%;
    max-width: 90%;
    
}
.desti-title{
    margin-top: 50px;
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.desti-des{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 30px;
}
.photo-1{
   
    max-width: 150%;
    max-height: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;

   
 
 background-size: cover;
 
}
.photo-3{
    max-width: 150%;
    max-height: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.photo-6{
    max-width: 150%;
    max-height: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
}

/* chose section style */
.chose-container{
    margin-top: 21px;
    max-width: 90%;
    height: 100%;
}
.chose-title{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.chose-des-one{
    margin-top: 30px;
    margin-bottom: 40px;
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.card-con{
    display: flex;
    margin-left:12%;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
.card{
    width: 573px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
#cardone{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#cardtwo{
   
    margin: 10px auto;
   margin-left: 460px;
}
.card img{
    width: 64px;
height: 64px;
margin-left: 32px;
margin-top: 32px;
}
.card p{
   
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-left: 32px;
margin-top: 10px;
}

/* service section container */

.service-container{
    max-width:90%;
    max-height: 100%;
    margin-left: 5%;
    margin-top: 5%;
    text-align:center ;
    
}
.service-title{
    font-size: 2.5rem;
}
.para{
    font-size: larger;
    color: #5A5A5D;
    margin-top: 12px;
}
 .service-sub-container{
    max-width:90%;
    max-height: 100%;
    margin-top: 3%;
    display: flex;
    gap: 2%;
    margin-left: 5%;
 }
 .ser-card{
    max-width: 28%;
    max-height: 100%;
    background-color:#FF5400 ;
    border-color: #FF5400;
    border-radius: 10PX;
   

 }
 .ser-card:hover{
    transform: scale(1.1);
    transition:transform 1s  ease-in-out 0.5s ;
    background-color: aqua;
    color: #080707;
 }
 .ser-card img{
    height: 50%;
    width: 50%;
    padding-top: 5px;
    color: #f90000;
    background-color: #ed560b;
 }
 .ser-card h1{
    margin-top: 4px;
    color: #FFF;
 }
 .ser-card p{
    color: aliceblue;
    margin: 4px 5px ;
 }
 /* deals section style */
 .deals-container{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-top: 4%;
 }
 .deal-title{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
 }
 .deal-con-desc{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin: 24px 0;
 }

 .deals-sub-one{
    background-image: url("Images/Group\ 39.png");
    width: 90%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
   border-radius: 20px;
   padding: 70px;
   margin-top: 20px;
 }
 .deals-sub-two{
    background-image: url("Images/Group\ 40.png");
    width: 90%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
   border-radius: 20px;
   padding: 70px;
   margin-top: 20px;
 }
 .deal-card-one{
    width: 43%;
height: 90%;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
/* backdrop-filter : blur(2.5px); */
margin-left: 717px;
 }
 .card-one-con{
    margin-left: 7%;
    margin-top: 7%;
 }
.card-des{
display: flex;
gap: 25px;

}
.card-des p{
    color: #5A5A5D;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.card-one-con h1{
    color: #131318;
font-family: Mulish;
font-size: 29px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 50px;
}
.card-one-con p{
    color: #5A5A5D;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 162.5% */
margin-top: 22px;
}
.card-one-con h2{
    color: #FF5400;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 22px;

}
.deal-card-two{
    width: 43%;
height: 90%;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);

}
.book{
    width: 170px;
height: 62px;
border-color:#FF5400 ;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 26px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 30px;
}





/* perfect container style */

.perfect-container{
    width: 80%;
    height: 100%;
    margin-left:12%;
    display: flex;
     gap: 130px;
    align-items: center;
    margin-top: 60px;
    
}
.perfect-des{
    height: 100%;
}
.perfect-title{
    color: #131318;
font-family: Mulish;
font-size: 35px;
font-style: normal;
font-weight: 800;
line-height: 60px; /* 150% */
width: 448px;
}
.perfect-descr{
    color: #5A5A5D;
font-family: Mulish;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 35px; /* 162.5% */
width: 532px;
}
.perfect-descr li{
    width: 518px;
    color: #131318;
font-family: Mulish;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 162.5% */
}
.button-per{
    margin-top: 7px;
    width: 124px;
height: 42px;
border-radius:  8px ;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
border-color: #FF5400;
}
.perfect-video{
    height: 100%;
}

/* letter-style */

.letter-container{
    width: 90%;
    height: 10%;
    margin: 5% 10%;
    display: flex;
    gap: 50px;
}
.news-letter{
   width: 40%;
   height: 100%;
   border-radius: 16px;
border: 1px solid #FF5400;
align-items: center;
padding: 0 auto;
}
.letter-title{
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 17px;
margin-left: 55px;


}
.letter-des{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-top: 17px;
margin-left: 55px;
}
.let{
    margin-left:55px ;
    margin-top: 15px;
    width:393px ;
    color: rgba(19, 19, 24, 0.05);
}
.letter-input{
    border-color:rgba(19, 19, 24, 0.05) ;
    width: 393px;
height: 52px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
margin-top: 17px;
margin-left: 55px;
}
#sub{
    background-color: #FF5400;
    margin-bottom: 15px;
    color: #FFF;
}
.letter-photo {
    width: 58%;
    background-repeat: no-repeat;
    border-radius: 16px  ;
    max-height: 100%;
   
    background-image: url("Images/Rectangle\ 8\ \(1\).png");
    
}
.letter-pic{
    width: 324px;
height: 120px;
transform: rotate(-19.628deg);
border-radius: 16px;
background: #FF5400;
border-color: #FF5400;
margin-top: 200px;
margin-left: 342px;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.letter-pic span{
    color: #FFF;
font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

/* footer style */

.footer{
    max-height:100%;
    max-width: 100%;
    background: rgba(19, 19, 24, 0.05);
}
.footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    gap: 10px;
}
.footer-icon h1{
    color: var(--Dark-01, #131318);
font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.footer-icon span{
    color: #FF5400;
font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 8px;
}
.footer p{
    margin-top: 15px;
  text-align: center;
  color: #5A5A5D;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.footer a >img{
    width: 174.322px;
height: 24px;
color:rgba(19, 19, 24, 1);
  margin-top: 15px;
   margin-left: 45%;
}
.footer h5{
    padding-bottom: 30px;
    margin-top: 60px;
    text-align: center;
    color: #131318;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 300;
line-height: normal;
}